* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat.ttf);
}

/* Header styles */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282828;
  padding: 0 100px;
  height: 64px;
  align-items: center;
}

#header img {
  height: 36px;
  width: 102px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.nav-links a {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.nav-links a:hover {
  color: #53e5b9;
}

.nav-links a li {
  list-style: none;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.tertiary-btn {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.tertiary-btn:hover {
  color: #53e5b9;
}

.primary-btn {
  padding: 12px 24px;
  border-radius: 114px;
  background: #6ec5a0;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  transition-duration: 0.4s;
}

.primary-btn:hover {
  background: none;
  border: solid 1px #6ec5a0;
}

/* Hero section styles */

.hero-section {
  background-image: url(images/hero-img.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 120px;
  margin-top: 80px;
}

.hero-texts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-texts p {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 200;
  line-height: 125%;
  margin-top: -2%;
}

.hero-texts p span {
  color: #00ffd1;
}

.hero-title {
  display: flex;
  flex-direction: column;
}

.hero-title h3 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 800;
  line-height: normal;
}

.hero-title h1 {
  color: #fff;
  text-align: center;
  text-shadow: 2px 4px 20.4px rgba(30, 30, 30, 0.24);
  font-family: Montserrat;
  font-size: 164px;
  font-weight: 800;
  line-height: normal;
  margin-top: -5%;
}

.secondary-btn {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 36px;
  border-radius: 114px;
  border: solid 1px #3db692;
  transition-duration: 0.4s;
}

.secondary-btn:hover {
  border: none;
  background-color: #3db692;
}

/* News section */
h2 {
  font-family: Poppins;
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
}

#news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  background: linear-gradient(180deg, #121212 0%, #191b1b 100%), #121212;
  padding-bottom: 100px;
}

#news-section h2 {
  margin-top: -8%;
  color: #d9d9d9;
}

.news-slider {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 18px;
  border: 1px solid #caffe9;
  background: #101010;
  align-items: center;
  padding: 40px;
}

.news-slider a {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 275;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.news-slider-cards {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 24px 24px;
}

.slider-arrow {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  flex: 0 0 auto;
}

.slider-arrow img {
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  flex: 0 0 calc(85% / 3);
  border-radius: 18px;
  background: linear-gradient(0deg, #252626 0%, #252626 100%), #252626;
  padding: 12px;
}

.cards {
  display: flex;
  gap: 32px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex: 1;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
}

.card {
  scroll-snap-align: start;
}

.card p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 275;
  line-height: normal;
}

.card a {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  background: #55ae93;
  width: fit-content;
  padding: 12px 32px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.card a:hover {
  color: #55ae93;
  background: none;
  border: solid 1px #55ae93;
}

/* About section */
#about-section {
  background: linear-gradient(
    0deg,
    rgba(231, 231, 231, 0.87) 0%,
    rgba(231, 231, 231, 0.87) 100%
  );
  box-shadow: 0 32px 39.2px -30px #3c3c3c inset;
}

#about-section {
  color: #2a3130;
  padding: 20px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  align-items: center;
}

.about-texts {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.about-texts p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}

.about-texts p span {
  font-weight: 700;
}

.green-btn {
  padding: 16px 36px;
  border-radius: 114px;
  background: #12362b;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  transition-duration: 0.4s;
  width: fit-content;
}

.green-btn:hover {
  background: none;
  color: #12362b;
  border: solid 1px #12362b;
}

iframe {
  box-shadow: 15px 15px #12362b;
}
